  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');


:root{
    --blue: #0284c7;
    --grey: #d1d5db;
    --orange: #fb923c;
}

*{
    margin: 0;
    font-family: Roboto;
}

.mainContentContainer * p{
    color:#96989c;
}

body{
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 4fr;
    grid-template-rows: auto auto;
    min-height: 100dvh;
}

/* Sidebar */
.sidebarContainer{
    display: grid;
    background-color: var(--blue);
    grid-row: 1 / 3;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 1.75fr repeat(5, .75fr) 1.75fr repeat(2, .75fr) 7fr;
    /* grid-template-rows: 1fr repeat(5, .75fr) 1fr repeat(3, .75fr); */
    justify-items: center;
    padding-top: 24px;
}

.sidebarContainer a{
    text-decoration: none;
    font-size: 18px;
    justify-self: start;
}

.sidebarContainer h1{
    justify-self: start;
}

.sidebarContainer >*{
    color: white;
}

.headerContainer{
    background-color: white;
}

.mainContentContainer{
    background-color: #d1d5db;
}

.sidebarIcon{
    width: 1.5rem;
    fill: white;
}

.dashboardLogo{
    width: 2.5rem;
    fill: white;
}


/* Header */

.headerContainer{
    display: grid;
}
.topLine{
    display: grid;
    grid-template-columns: .5fr 8fr repeat(2, .5fr) 1.5fr;
    align-items: center;
    padding-top: 12px;
}

.topLine h2{
    font-size: 18px;
}

.topLine svg{
    width: 4rem;
}

.searchbar{
    background-color: var(--grey);
    border: none;
    border-radius: 16px;
    width: clamp(200px, 600px, 700px);
    height: 1.75rem;
    padding-left: 12px;
    margin-left: 12px;
}

.searchIcon,
.bellIcon{
    justify-self: end;
}

.topLine img{
    justify-self: center;
}

.bottomLine{
    display: grid;
    /* grid-template-columns: 1fr 5fr repeat(3, 1fr); */
    grid-template-columns: auto auto;
    align-items: center;
}

.bottomLine img{
    width: 3rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.topLine img{
    width: 3rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.bottomLine a{
    background: var(--blue);
    border-radius: 24px;
    text-align: center;
    color: white;
    margin: 16px;
    text-decoration: none;
    padding: 10px 0px;
    min-width: 40px;

}

.headerContainer svg{
    width: 1.5rem;
}

.headerButtons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 3;
    padding-right: 24px;
}

.greeting{
    display: grid;
    grid-template-columns: 1fr 4fr;

}

.greeting p,
.greeting h2{
    padding-left: 12px;
}

.greeting img{
    grid-row: 1/3;
    justify-self: end;
    size: 40px;
}

/* main content */
.mainContentContainer{
    display: grid;
    grid-template-columns: 5fr 2fr;
    padding: 12px;

}

.cardContainer{
    display:grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, minmax(200px, 1fr));
    align-self: stretch;
}



.projects{
    grid-row: 1/3;
    padding: 12px;
    display: grid;
    grid-template-rows: auto 1fr;
}

.trendingContainer{
    display: grid;
    grid-column: 2/3;
    padding: 12px;
}

.cardFooter>a>svg{
    width: 1.5rem;
}

.cardFooter{
    text-align: end;
    align-self: end;
}

.card{
    background-color: white;
    border-left: 12px solid var(--orange);
    padding: 12px 24px;
    border-radius: 12px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.card p{
    align-self: start;
    justify-self: start;
}



.announceCardContainer{
    background-color: white;
    border-radius: 12px;
    /* padding: 24px; */

}

.announceContainer{
    padding: 12px;
}

.announceCard{
    padding: 24px 28px 24px 28px;
}

hr{
    width: 90%;
    margin: 0 auto;
}

.mainContentContainer h3{
    font-size: 24px;
    margin-bottom: 12px;
    margin-top: 24px;
}

.announceCard p{
    font-size: 12px;
}



/* trending */

.trendCardContainer{
    padding:24px;
    border-radius: 24px;
    background-color: white;
    display: grid;
    gap:24px;
}

.trendingContainer img{
    width: 2.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;

}

.trendCard{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: white;
}

.trendCard img{
    grid-row: 1/3;
    justify-self: center;
}

.trendCard p{
    /* font-size: 12px; */
}